@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@800&display=swap');

:root {
    --clr-primary: #0A0A0A;
    --clr-text: #FFFFFF;
    --clr-nav: #858585;

    --ff-primary: 'Open Sans', sans-serif;
    --ff-heading: 'Roboto Slab', serif;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-size: 1.3125rem;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {

    margin: 0;
}


h1,
h2,
h3 {
    font-family: var(--ff-heading);
    line-height: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-nav);
}

.fullscreen {
    height: 100%;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.meter {
    padding: 1em;
    border: 2px solid gray;
    
   
}


