@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@800&display=swap');

:root {
    --clr-primary: #1F1F1F;
    --clr-text: #D6D6D6;
    --clr-nav: #141414;
    --clr-nav-hover: #1F1F1F;
    --clr-nav-active: #D6D6D6;
    --clr-nav-shadow: #0A0A0A;
    

    --ff-primary: 'Open Sans', sans-serif;
    --ff-heading: 'Roboto Slab', serif;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-size: 1.3125rem;
    line-height: 1.6;
}



body,
h1,
h2,
h3,
p {

    margin: 0;
}


h1,
h2,
h3 {
    font-family: var(--ff-heading);
    line-height: 2;
}



.fullscreen {
    height: 100%;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--clr-nav);
    box-shadow: 0px 5px 5px var(--clr-nav-shadow);
}

a {
    color: var(--clr-text);
    text-decoration: none;    
}

a:hover {
    color: var(--clr-primary);
    background: var(--clr-nav-active);
}

a:active {
    color: var(--clr-primary);
    background: var(--clr-nav-active);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

li {
    padding: .25em;
    margin: 0 .5em 0 .5em;
    
}

.landing-page {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
   
}
.meter {
    padding: 1em;
    border: 2px solid gray;
    
   
}


